.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.945);
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    color: white;
    z-index: 1000;
    
}

.navbar span{
    pointer-events:none;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease-in-out;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

