

.page-container{
    display:flex;
    justify-content: center;
}
.outfit-grid {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 16px;
    justify-content: center;
    padding-top:6vh;
    padding-bottom:15vh;
    width: 60%;
}
.outfit-item{
    overflow: hidden;
    text-align: center;
    transition: transform 1s ease-in-out;
    position: relative; 
    display: inline-block;
    width:100;
    height: auto;
}

.outfit-item:hover{
    transform: transition scale(1.1);
}
.outfit-item img {
    width: 100%;
    display:block;
}

.like-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    background-color:rgb(60, 71, 71);
    position:absolute;
    bottom: 8px; /* Position the container 8px from the bottom */
    left: 8px; /* Position the container 8px from the left */
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    opacity: 0.8;
}

.like-button-icon {
    cursor:pointer;
    width: 2vh;
    height: 2vh;
    margin-right: 0.5rem;
}

.like-counter {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 2.6vh;
}

@media (max-width: 768px) {
    .outfit-grid-container {
        width: 80%; /* Adjust width for tablets */
    }

    .outfit-grid {
        grid-template-columns: 1fr; /* 1 photo per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .outfit-grid-container {
        width: 90%; /* Adjust width for mobile devices */
    }

    .outfit-grid {
        grid-template-columns: 1fr; /* 1 photo per row on smaller screens */
    }
}